[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
greenlet = "==1.1.0"
PyMySQL = "==1.0.2"
SQLAlchemy = "==1.4.15"
pandas = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.9"
